@charset "UTF-8";

 body, html {
      margin: 0;
      padding: 0;
      overflow: hidden;
      height: 100%;
    }

    body {
      background: linear-gradient(to top, #660000 ,#300000 ,black ,black  );
    }
    canvas {
      position: absolute;
      top: 0;
      left: 0;
    }