/* ===== HEADER ===== */
.menu-toggle {
  position: fixed;
  top: 1rem;
  left: 1rem;
  background: #04eef7;
  color: black;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1100;
}

.side-menu {
  position: fixed;
  top: 0;
  left: -60%;
  width: 50%;
  height: 100%;
  background: #111;
  padding: 2rem 1rem;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1050;
  transition: left 0.3s ease;
  margin-top: 50px;
  overflow-y: auto;
}

.side-menu.open {
  left: 0;
}

.tag-list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.tag-button {
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  text-align: left;
  font-size: 0.9rem;
  width: 150px;
}

.tag-button.active {
  outline: 2px solid #fff;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1040;
  display: none;
}

.overlay.show {
  display: block;
}

/* ===== SECTION CODES ===== */
.codes {
  padding: 2rem;
  margin-top: 150px;
}

.codes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}
