@charset "UTF-8";

/* Reset e Tipografia Geral */
* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    margin: 0;
}

body {
    background-color: burlywood;
}

/* Cabeçalho */
header {
    display: flex;
    text-align: center;
    margin: 0;
    padding: 15px;
    padding-top: 0;
}

header > h1 {
    display: block;
    margin-top: 40px;
    margin-left: 0px;
    font-size: 1.8em;
}

/* Imagens */
img {
    height: 100px;
    margin-left: 0px;
    margin-top: 20px;
}

/* Inputs */
input.multiplicador[type="number"] {
    background-color: burlywood;
    font-weight: bold;
    color: rgb(37, 146, 219);
    width: 30px;
}

input.num[type="number"] {
    background-color: burlywood;
    border: none;
    color: green;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
    border-radius: 4px;
    width: 50px;
}

input[type="checkbox"] {
    accent-color: rgb(8, 240, 8);
    transform: scale(1.9);
    margin-right: 20px;
    margin-bottom: 15px;
    border: 2px solid burlywood;
}

input[type="number"] {
    padding: 5px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

/* Labels */
label {
    font-size: 1.1em;
    margin-left: 5px;
}

label:has(input:checked) {
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
}

/* Layouts e Containers */
.aside {
    display: inline-block;
    margin-top: 20px;
}

#aside1 {
    position: absolute;
    left: 0;
    margin-left: 10px;
}

#aside2 {
    position: absolute;
    right: 0;
    margin-right: 10px;
}

fieldset {
    margin-top: 5px;
    border-radius: 20px;
    border: 1px solid #704D1F;
    box-shadow: -2px 3px 7px 0px #00000063;
}

legend {
    background-color: #704D1F;
    color: white;
    font-size: 1.3em;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px 8px;
    box-shadow: -3px -2px 11px 0px #00000038;
}

main {
    margin-bottom: 50px;
}


#section-botao {
    display: flex;
    justify-content: end;
    margin: 20px;
    margin-top: 10px;
    margin-left: 20%;
}

/* Botões */
#duplicar-item {
    background-color: burlywood;
    color: green;
    font-weight: bolder;
    font-size: 1.2em;
    border-radius: 10px;
    padding: 10px;
    border: none;
}


/* Resultados */
#reais {
    font-size: medium;
    margin-right: 10px;
}

#resultado {
    background-color: burlywood;
    margin: 0 0 20px 0;
    position: sticky;
    text-align: center;
    top: 0;
}

#total {
    color: rgb(8, 147, 8);
    font-size: 1.4em;
}

/* Span Geral */
span {
    font-size: 1.4em;
}

/* Sidebar */
#icone-sidebar {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

#icone-sidebar:checked + #sidebar {
    background-color: lightblue; /* Muda a cor do sidebar ao clicar no ícone */
}

#sidebar {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    width: 100px;
    margin: 20px 20px 0 20px;
    border-radius: 20px;
    padding: 20px;
    background-color: black;
    z-index: 1000;
}

#sidebar > a {
    color: white;
    font-size: 1.3em;
    margin-bottom: 20px;
    text-decoration: none;
}

/* Ícones Material */
.material-icons {
    font-size: 2em;
}

.material-symbols-outlined {
    color: #704D1F;
    font-size: 0.8em;
}

/* Num-label (se houver) */
.num-label {
    float: right;
    position: relative;
}
.num {
  color: green; /* cor do texto digitado */
  border: 1px solid #ccc;
}
.item {
    margin-bottom: 20px;
}
.item-topo {
    margin-left: 25px;
    font-size: 1.2em;
    font-weight: 600;
}
